name: Docker Healthcheck
on:
  push:
  schedule:
    - cron: "0 3 * * 1" # run every monday at 03:00 AM
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest # use latest version of docker compose

      - name: Build Docker Compose
        run: docker compose build

      - name: Start Docker Compose services
        run: docker compose up -d

      - name: Check service health
        uses: jaracogmbh/docker-compose-health-check-action@v1.0.0
        with:
          max-retries: 30
          retry-interval: 10
          compose-file: "docker-compose.yml"
          skip-exited: "true"
          skip-no-healthcheck: "true"

      - name: Run tests
        run: ./run_tests.sh
